<ion-header>
  <ion-toolbar color="warning">
    <ion-title slot="start">Info</ion-title>

    <ion-img slot="end" class="imagen"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png">
    </ion-img>
    <ion-avatar>
      <img src="/assets/logo.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons>
    <ion-back-button
      defaultHref="/"
      text="Regresar"
      color="warning"
      mode="ios"
    >
    </ion-back-button>
  </ion-buttons>
  <ion-card>
    <ion-card-content>
      Con el fin de terminar con esta problemática en forma definitiva, se ha contactado a alumnos de Duoc UC para
      <br>
      que desarrollen una Aplicación Móvil RegistrAPP capaz de ser utilizada en plataformas tanto como Android e iOS
      <br>
      que permita que cada alumno registre su propia asistencia.
      <hr>
      La lógica utilizada en la pagina es la siguiente: 
      <hr>
      1. Docente ingresa a sistema web con sus credenciales de acceso. 
      <br>
      2. Docente comienza proceso de Asistencia en Línea, haciendo clic en un botón que genere un código QR.
      <br>
      3. Este código QR se despliega en el proyector de cada aula.
      <br>
      4. Los alumnos ingresan a la App ingresando sus credenciales de acceso.
      <br>
      5. Se despliega la cámara del dispositivo móvil.
      <br>
      6. El código es leído y a su vez, registrado.
      <br>
      7. La asistencia queda registrada con su día y hora correctamente.
      <br>
      <hr>
      Requerimientos:
      <hr>
      Finalizar el desarrollo de las páginas de Ingreso de Usuario, Restablecer Contraseña y Página de Inicio con
      <br>
      las siguientes características:
      <br>
      o Colores corporativos definidos por el equipo de trabajo.
      <br>
      o Imágenes correspondientes a la aplicación.
      <br>
      • Con relación a los Casos de Uso, se necesita para esta entrega:
      <br>
      • Realizar la publicación del APK en un sitio web, sea local (localhost) o web, cumpliendo con lo siguiente:
      <br>
      o Debe desplegar un resumen de las funcionalidades de la aplicación.
      <br>
      o Debe contar con imágenes relativas al caso de estudio.
      <br>
      o Debe ser adaptativo a los distintos tamaños de los dispositivos.
      <br>
      o Debe contar con una función que sea capaz de verificar lo siguiente:
      <br>
       Si accede desde un dispositivo móvil, desplegar un botón que al hacer clic en él descargue al APK
      <br>
      para ser instalado directamente.
      <br>
       Si accede desde un dispositivo de escritorio o notebook, desplegar un código QR que al ser
      <br>
      escaneado con la cámara de un dispositivo móvil descargue al APK para ser instalado directamente.
    </ion-card-content>
    
    <ion-card-content>
      QR utilizado:
      <hr>
      <img src="/assets/QR.png" class="imagen2">
      <hr>
      Logo duoc:
      <ion-img class="imagen"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png">
      </ion-img>
      <hr>
      Logo app:
      <hr>
      <ion-avatar>
        <img src="/assets/logo.png" class="imagen2">
      </ion-avatar>
      <hr>
      Imagen de QR:
      <hr>
      <img src="/assets/QR.png" class="imagen2">
      <hr>
      Imagen de QR "escaneado":
      <hr>
      <img src="/assets/QR-escaneado.jpg" class="imagen2">
      <hr>
      Avatar del alumno:
      <ion-avatar>
        <img src="/assets/avatar-alumno.png" class="imagen2">
      </ion-avatar>
      <hr>
      <hr>
      Avatar del profesor:
      <ion-avatar>
        <img src="/assets/avatar-profesor.png" class="imagen2">
      </ion-avatar>
      <hr>
    </ion-card-content>
  </ion-card>
</ion-content>
